/*  #Style Appearance animation (Fade In Left)
================================================*/
appearance-animation-layout-1 {
  .fade-in-left-item {
    -webkit-animation: fadeInLeft 800ms;
    -moz-animation: fadeInLeft 800ms;
    -o-animation: fadeInLeft 800ms;
    animation: fadeInLeft 800ms;
  }
}
