<!--- Theme Parallax Frends -->
<ion-content elastic-header has-header *ngIf="data != null">
    <div background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
        <!--Social Shere-->
        <div float-right social>
            <ion-icon icon-small (click)="onEvent('onLike', data)">
                <i class="icon {{data.iconLike}}"></i>
            </ion-icon>
            <ion-icon icon-small (click)="onEvent('onFavorite', data)">
                <i class="icon {{data.iconFavorite}}"></i>
            </ion-icon>
            <ion-icon icon-small (click)="onEvent('onShare', data)">
                <i class="icon {{data.iconShare}}"></i>
            </ion-icon>
        </div>
        <!--Title parallax-->
        <h2 parallax-title *ngIf="data != null" text-center>{{data.title}}</h2>
    </div>
    <!--Content-->
    <ion-grid no-padding *ngIf="data != null">
        <ion-row>
            <ion-col col-12>
                <ion-list no-margin>
                    <ion-item no-lines *ngFor="let item of data.items;let i = index" (click)="onEvent('onItemClick', item)">
                        <ion-avatar item-start>
                            <img [src]="item.image">
                        </ion-avatar>
                        <h2 item-title>{{item.title}}</h2>
                        <h3 item-subtitle>{{item.description}}</h3>
                        <ion-icon icon-medium item-end>
                            <i class="icon {{item.icon}}"></i>
                        </ion-icon>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- Fab Button -->
<ion-fab #fab bottom right>
    <button button-ion-fab ion-fab (click)="onEvent('onFab', data, $event)">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
