/*  #Style Full image with CTA
===========================================*/
expandable-layout-2 {
  li {
    list-style-type: none;
    &[margin] {
      margin: 5px 10px;
    }
  }

  .collapsible-header {
    [background-size]{
      height: 150px;
      position: relative;
      margin-bottom: 5px !important;
    }

    .item-inner {
      padding: 0;
    }

    [button-clear-outline] {
      position: absolute;
      right: 20px;
      bottom: 10px;
    }

    [item-title] {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }

  [icon-small] {
    font-size: icon-size('icon-small') !important;
    color: theme-colors('mainColors', 'accent') !important;
  }

  .item-accordion {
    width: 100%;
    height: 0;
    display: block !important;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    overflow: hidden;

    &.active {
      height: 161px !important;
    }

    ion-item {
      margin-bottom: 5px;

    }

    [subitem-title] {
      color: theme-colors('mainColors', 'accent') !important;
    }

    ion-label {
      margin: 0;
    }
  }
}
