<!-- Themes Login + logo -->
<ion-content has-header white-background>
    <ion-grid *ngIf="data != null">
        <ion-row padding>
            <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <!---Input field username-->
                <ion-item no-padding transparent>
                    <ion-label floating>{{data.username}}</ion-label>
                    <ion-input required type="text" [(ngModel)]="username"></ion-input>
                </ion-item>
                <!---Input field password-->
                <ion-item no-padding transparent>
                    <ion-label floating>{{data.password}}</ion-label>
                    <ion-input required type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
                <!---Login button-->
                <button ion-button button-clear clear float-right (click)="onEvent('onRegister')">{{data.register}}</button>
                <!---Register button-->
                <button ion-button button-clear clear float-right (click)="onEvent('onLogin')">{{data.login}}</button>
            </ion-col>
            <!---Share Section-->
            <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 social>
                <!---Facebook button-->
                <button ion-button round outline color="facebook" (click)="onEvent('onFacebook')">Facebook</button>
                <!---Twitter button-->
                <button ion-button round outline color="twitter" (click)="onEvent('onTwitter')">Twitter</button>
                <!---Google button-->
                <button ion-button round outline color="google" (click)="onEvent('onGoogle')">Google</button>
                <!---Pinterest button-->
                <button ion-button round outline color="pinterest" (click)="onEvent('onPinterest')">Pinterest</button>
            </ion-col>
            <!---End Share Section-->
            <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <!--LOGO-->
                <img float-left [src]="data.logo" *ngIf="data.logo != null">
                <!---Skip button-->
                <button ion-button button-clear clear float-right margin-top (click)="onEvent('onSkip')">{{data.skip}}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
