/*  #Style Login + logo
================================================*/
login-layout-2 {
  img {
  margin-top: 10px;
  max-width: 50px;
  max-height: 50px;
}

.item-inner {
  border-bottom-color: theme-colors('mainColors', 'primary') !important;
  box-shadow: none !important;
}

[button-clear-outline] {
  margin-top: 15px;
}
// Socila Button
[social] {
  margin: 20px auto 10px;
  overflow: hidden;
    button {
      margin: 1%;
      width: 48.5%;
      display: block;
      float: left;
    }

    > button:nth-child(2n) {
      margin-right: 0;
    }
  }
}
