<!--Theme Styled cards 2-->
<ion-content>
    <ion-grid no-padding *ngIf="data != null">
        <ion-row>
            <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 *ngFor="let item of data.items;let i = index">
                <ion-card text-left (click)="onEvent('onItemClick', item.title, $event)">
                    <div card-image>
                        <img images-filter src="{{item.image}}" />
                        <h2 card-title>{{item.titleHeader}}</h2>
                    </div>
                    <ion-card-content>
                        <ion-card-title>
                            <h1 card-subtitle>{{item.title}}</h1>
                        </ion-card-title>
                        <div class="progressBar">
                            <div class="loader" style="width: 73%;">
                                <p class="percent">73%</p>
                            </div>
                        </div>
                    </ion-card-content>
                    <button ion-button 
                        margin-bottom margin-top margin-right float-right 
                        (click)="onEvent('onExplore', item, $event)">
                        {{item.button}}
                    </button>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!--Fab Button-->
<ion-fab #fab bottom right>
        <button button-ion-fab ion-fab (click)="onEvent('onFab', data, $event)">
            <ion-icon name="add"></ion-icon>
        </button>
</ion-fab>