<ion-list *ngIf="data != null">
    <ion-list-header no-margin text-uppercase>
        <p ion-text color="brown">{{data.title}}</p>
        <ion-badge item-end>{{data.value}}</ion-badge>
    </ion-list-header>
    <ion-item>
        <ion-range [min]="data.min" [max]="data.max" pin="true" (ionChange)="onEvent('onChange', data.value, $event)" [(ngModel)]="data.value">
            <ion-icon range-left icon-small color="brown" [name]="data.iconLeft"></ion-icon>
            <ion-icon range-right icon-medium color="brown" [name]="data.iconRight"></ion-icon>
        </ion-range>
    </ion-item>
</ion-list>
