/*  #Style List big image
===========================================*/
expandable-layout-1 {
  li {
    list-style-type: none;
  }

  [social] {
    @include social;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .collapsible-header {
    ion-thumbnail {
      img {
        width: 160px;
        height: 160px;
        margin-bottom: 1px;
      }
    }

    .label-md {
      margin: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      min-height: 140px;
    }
  }

  .item-accordion {
    @include gradient-accent ($color-1, $color-2);
    height: 0;
    display: block !important;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    overflow: hidden;

    img {
      border-radius: $border-radius !important;
    }

    &.active {
      height: 545px !important;
    }
  }
}
