/*  #Style Field + Header
===========================================*/
search-bar-layout-3 {
  [background-size] {
    padding-top: 100px;
    height: 160px;
    @include darkening-blend-mode;
  }

  .item-inner {
    margin-left: 5px !important;
  }
}
