<!-- Themes Products + CTA header -->
<ion-content has-header>
    <ion-grid no-padding *ngIf="data != null">
        <ion-row padding background-size container-hearder-image [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}" *ngIf="data.headerImage != null">
            <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left>
                <h1 header-title>{{data.title}}</h1>
                <h2 header-subtitle>{{data.description}}</h2>
            </ion-col>
            <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right>
                <span span-large>{{data.price}}</span>
                <button ion-button button-clear-outline round outline (click)="onEvent('onProceed', data, $event)">
            {{data.buttonText}}
          </button>
            </ion-col>
        </ion-row>
        <!--Content-->
        <ion-row no-padding>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <ion-list no-margin reorder="true" (ionItemReorder)="reorderItems($event)">
                    <ion-item no-padding no-lines *ngFor="let item of data.items; let i = index;" (click)="onEvent('onItemClick', item.title, $event)">
                        <ion-thumbnail item-start no-margin>
                            <img src="{{item.image}}">
                        </ion-thumbnail>
                        <div item-top>
                            <h2 item-title padding-left text-wrap>{{item.title}}</h2>
                            <h3 item-subtitle padding-left text-wrap>{{item.shipping}}</h3>
                        </div>
                        <div item-bottom>
                            <div span-small text-right>{{item.oldPrice}}</div>
                            <div span-medium right text-right>{{item.newPrice}}</div>
                            <!-- Products + CTA header Seller And Shipping-->
                            <h3 item-subtitle float-left padding-left>{{item.seller}}</h3>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- Fab Button -->
<ion-fab #fab bottom right>
    <button button-ion-fab ion-fab (click)="onEvent('onFab', data, $event)">
  <ion-icon name="add"></ion-icon>
</button>
</ion-fab>
