page-home {
    .item-inner{
        border: 0 !important;
    }
}

.welcome-text{
    margin-left: 15px;
}

.welcome-text-2{
    margin-left: 15px;
    font-size: 12px;
}

.welcome-text-3{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 12px;
    margin-bottom: -2px;
}

ion-item{
    font-size: 11px;
}

ion-fab{
    display: none !important;
}

.label-md{
    margin: 0 !important;
}

ion-label{
    font-size: 12px;
}