/*  #Style Login + logo
================================================*/
login-layout-1 {

  ion-col {
    position: relative;

    [button-clear] {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 35px auto 20px;
  }

  .item-inner {
    border-bottom-color: theme-colors('mainColors', 'primary') !important;
    box-shadow: none !important;
  }

  [button-clear-outline] {
    margin-top: 10%;
    width: 48.3%;
    display: block;
    float: left;
  }

  [social] {
    margin: 20px auto 0;
    overflow: hidden;

    button {
      margin: 1%;
      width: 48.5%;
      display: block;
      float: left;
    }

    > button:nth-child(2n) {
      margin-right: 0;
    }
  }
}
