<!-- Themes Login + logo -->
<ion-content has-header white-background>
    <ion-grid *ngIf="data != null">
        <ion-row wrap padding>
            <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <!---Logo
                <img [src]="data.logo" *ngIf="data.logo != null">
                Input field username-->
                <ion-item no-padding transparent>
                    <ion-label floating>{{data.username}}</ion-label>
                    <ion-input required type="text" [(ngModel)]="username"></ion-input>
                </ion-item>
                <!---Input field password-->
                <ion-item no-padding transparent>
                    <ion-label floating>{{data.password}}</ion-label>
                    <ion-input required type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
                <!---Login button-->
                <button ion-button 
                    float-left 
                    button-clear-outline 
                    round 
                    outline 
                    (click)="onEvent('onLogin')">
                    {{data.login}}
                </button>
                <!---Register button-->
                <button ion-button 
                    float-left 
                    button-clear-outline 
                    round 
                    outline 
                    (click)="onEvent('onRegister')">
                        {{data.register}}
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
