<!-- Themes Swipe To Dismiss Products + CTA footer -->
<ion-content has-header>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <ion-list>
          <ion-item-sliding *ngFor="let item of data.items" #slidingItem>
            <ion-item no-padding no-lines no-margina background-size (click)="onEvent('onItemClick', item.title, $event)" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
              <h2 item-title text-center>{{item.title}}</h2>
              <p item-subtitle text-center>{{item.description}}</p>
            </ion-item>
            <ion-item-options>
              <button (click)="delete(item)" transparent>
              <ion-icon icon-medium>
                <i class="icon {{item.iconDelate}}"></i>
              </ion-icon>
            </button>
              <button (click)="undo(slidingItem)" transparent>
              <ion-icon icon-medium>
                <i class="icon {{item.iconUndo}}"></i>
              </ion-icon>
          </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Fab Button -->
<ion-fab #fab bottom right>
  <button button-ion-fab ion-fab (click)="onEvent('onFab', data, $event)">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
