/*  #Theme Products + CTA footer
===========================================*/
swipe-to-dismiss-layout-3 {
  [background-size] {
    height: 150px;
    @include black-white-mode;
  }
  [item-title], [item-subtitle] {
    position: relative;
    z-index: 5;
  }
  ion-item-options {
    border-bottom: 1px solid theme-colors('mainColors', 'secondary') !important;
  }
}
