<!--- Theme Parallax Location Details -->
<!--- Header Big Image-->
<ion-content elastic-header has-header *ngIf="data != null">
    <ion-item no-lines background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
    </ion-item>

    <ion-grid no-padding>
        <ion-row>
            <!--Parallax Rateing-->
            <ion-col col-12>
                <ion-item no-lines header-bcg no-padding>
                    <h1 parallax-title text-center margin-top>{{data.title}}</h1>
                    <!--- Social Share-->
                    <div social text-right margin-top>
                        <ion-icon icon-small white (click)="onEvent('onShare', data)">
                            <i class="icon {{data.iconShare}}"></i>
                        </ion-icon>
                    </div>
                </ion-item>
            </ion-col>
            <!--Content-->
            <ion-col col-12>
                <!--Info-->
                <div class="progressBar">
                        <div class="loader" style="width: 73%;background-color: white;">
                            <p class="percent">73%</p>
                        </div>
                    </div>
                <ion-item no-lines no-margin padding-right>
                        <br>
                    <h2>Here’s a summary of your  share offer</h2>
                    <div info *ngFor="let item of data.offerDetails;let i = index">
                        <span float-left>{{item.name}}</span>
                        <p>{{item.value}}</p>
                    </div>
                </ion-item>
                
                <ion-item no-lines no-margin padding-right>
                        <br>
                        <h2>Here are your key business facts</h2>
                    <div info *ngFor="let item of data.businessFacts;let i = index">
                        <span float-left>{{item.name}}</span>
                        <p>{{item.value}}</p>
                    </div>
                </ion-item>
                <!-- Description-->
                <ion-item no-lines text-wrap no-margin padding-right>
                        <br>
                        <h2>Offer overview</h2>
                    <h3 parallax-description>{{data.description}}</h3>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
