<!--Theme Styled cards-->
<ion-content has-header>
    <ion-grid no-padding *ngIf="data != null">
        <ion-row>
            <ion-col col-12 col-md-12 col-lg-6 *ngFor="let item of data.items;let i = index">
                <ion-card padding text-right class="card" (click)="onEvent('onItemClick', item.title, $event)">
                    <div float-left class="card-img">
                        <img images-filter src="{{item.image}}" />
                    </div>
                    <!--Card-content-->
                    <ion-card-content>
                        <ion-icon>
                            <i class="icon {{item.iconSlider}}"></i>
                        </ion-icon>
                        <ion-card-title no-padding>
                            <h2 card-title>{{item.title}}</h2>
                        </ion-card-title>
                        <h3 card-subtitle>{{item.description}}</h3>
                        <h3 card-subtitle>{{item.shortDescription}}</h3>
                        <p card-body-text>{{item.longDescription}}</p>
                        <!---Social share-->
                        <div social>
                            <ion-icon>
                                <i icon-small ng-if="group.iconLike" class="icon {{item.iconLike}}" (click)="onEvent('onLike', item, $event)"></i>
                            </ion-icon>
                            <ion-icon>
                                <i icon-small ng-if="item.iconFavorite" class="icon {{item.iconFavorite}}" (click)="onEvent('onFavorite', item, $event)"></i>
                            </ion-icon>
                            <ion-icon>
                                <i icon-small ng-if="item.iconShare" class="icon {{item.iconShare}}" (click)="onEvent('onShare', item, $event)"></i>
                            </ion-icon>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- Fab Button -->
<ion-fab #fab bottom right>
    <button button-ion-fab ion-fab (click)="onEvent('onFab', data, $event)">
      <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
