/*  #Style Parallax Product
===========================================*/
parallax-layout-2 {
    [background-size] {
        @include darkening-blend-mode;
        width: 100%;
        height: 250px;
        display: table;
        position: relative;
        z-index: 999;
        [social] {
            @include social;
            position: absolute;
            bottom: 25px;
            right: 25px;
            z-index: 9;
        }
        .title {
            display: table-cell;
            text-align: left;
            vertical-align: bottom;
            [parallax-title] {
                position: relative;
                z-index: 9;
                margin-top: 0;
            }
            [parallax-subtitle] {
                margin-bottom: 0;
                position: relative;
                z-index: 9;
            }
        }
    }
}
