/*  #Style Radio Button - Simple 2
===========================================*/
radio-button-layout-3 {
  [header-title] {
    font-weight: 100;
  }
  [item-start] {
      margin-right: 16px !important;
  }
}
