/*  #Style Centered with header
===========================================*/
expandable-layout-3 {
  ul {
    li {
      list-style-type: none;

      &:last-child ion-item:before {
        border-bottom: 1px solid transparent !important;
      }
    }
  }

  ion-list-header {
    &[background-size] {
      height: 200px;
      width: 100%;
    }

    [item-title] {
      z-index: 5;
      position: relative;
    }
  }

  .item-accordion {
    height: 0;
    @include gradient-accent ($color-1, $color-2);
    display: block !important;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    overflow: hidden;

    &.active {
      height: 300px !important;
    }
  }

  .collapsible-header {
    .item-md.item-block .item-inner {
      padding-right: 0 !important;
    }

    ion-icon {
      display: block;
      text-align: center;
    }
  }
}
