<!--- Theme Parallax Basic -->
<!--- Header Big Image-->
<ion-content elastic-header has-header *ngIf="data != null">
    <ion-item no-lines background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
        <ion-thumbnail *ngIf="data != null">
            <img src="{{data.avatar}}" />
        </ion-thumbnail>
    </ion-item>
    <!--Content-->
    <ion-grid no-padding *ngIf="data != null">
        <ion-row>
            <ion-col col-12>
                <ion-list no-margin>
                    <ion-item no-lines *ngFor="let item of data.items;let i = index" (click)="onEvent('onItemClick', item)">
                        <ion-avatar item-start>
                            <img src="{{item.image}}">
                        </ion-avatar>
                        <h2 item-title>{{item.title}}</h2>
                        <ion-icon item-end (click)="onEvent('onFavorite', item, $event)">
                            <i icon-small class="icon" [ngClass]="{'icon-heart': item.favorite, 'icon-heart-outline': !item.favorite}"></i>
                        </ion-icon>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- Fab Button -->
<ion-fab #fab bottom right>
    <button button-ion-fab ion-fab (click)="onEvent('onFab', data, $event)">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
